@import "syntax-variables";

.syntax--comment.syntax--js {
    color: @comment-js;
    font-style: @comment-font;
}

.syntax--string {
    &.syntax--js {
        &.syntax--quoted {
            color: @green;

            .syntax--punctuation {
                color: @green;
            }

            &.syntax--template.syntax--js {
                .syntax--variable {
                    color: @light-orange;
                }
            }
        }

        &.syntax--unquoted {
            color: @light-orange;
        }

        &.syntax--regexp {
            color: @real-white;
        }
    }
}

.syntax--punctuation {

    &.syntax--string.syntax--js,
    &.syntax--terminator.syntax--js,
    &.syntax--scope.syntax--js,
    &.syntax--parameters.syntax--js {
        color: @white;
    }
}

.syntax--meta {

    &.syntax--brace.syntax--js {
        color: @white;
    }
}

.syntax--storage {
    &.syntax--js {
        color: @blue;

        &.syntax--modifier {
            color: @red;
        }
    }
}

.syntax--support {

    &.syntax--js,
    &.syntax--function.syntax--js,
    &.syntax--constant.syntax--js {
        color: @orange;
    }
}

.syntax--entity {

    &.syntax--function.syntax--js {
        color: @yellow;
    }
}

.syntax--keyword.syntax--js {
    color: @blue;
}

.syntax--constant {

    &.syntax--language {
        color: @blue;
    }

    &.syntax--numeric.syntax--js {
        color: @numeric-js;
    }
}

&.syntax--variable {
    &.syntax--js {
        &.syntax--this {
            color: @bright-orange;
        }
    }
}

.syntax--js {
    .syntax--jsx {
        color: @purple;

        .syntax--name, .syntax--component {
            color: @light-blue;
            font-style: normal;
        }

        .syntax--attribute-name, .syntax--assignment, .syntax--punctuation, .syntax--string.syntax--punctuation {
            color: @pale-blue;
            font-style: normal !important;
        }

        .syntax--variable, .syntax--string {
            font-style: normal;
            color: @purple;
        }
    }
}
